body {
	width: 1400px;
	height: 800px;
	background-color: rgba(127,127,127,0.2);
}

.side-bar {
	width: 25%;
	background-color: rgba(127,127,127,0.4	);
	height: 100%;

}

.chat-title {
	font-size: 32px;
	position: relative;
	top: 45px;
	left: 40px;
	font-weight: bold;
}

.room-list {
	position: relative;
	top: 100px;
	left: 30px;
	width: 300px;
	border: 3px solid black;

}

.display-list {
	position: relative;
	top: 70px;
	list-style-type: none;
	color: rgba(100,100,100,1);
	line-height: 33px;
}

.btn {
	position: relative;
	top: 10px;
	left: 220px;
}

.display-list {
	position: relative;
	top: 75px;
	height: 170px;
}

.room-ctn {
	position: absolute;
	left: 30%;
	top: 5px;
	height: 800px;
	width: 70%;
	background-color: white;
}

.room-name {
	position: relative;
	top: 50px;
	left: 30px;
	width: 370px;
	height: 70px;
	font-size: 24px;
}

.room-messages {
	position: relative;
	top: 60px;
	left: 30px;
	width: 370px;
	height: 70px;
	border: 2px solid black;
}
