<div class="btn-group" ng-controller="MakeRoomCtrl as makeRoom">
	<a class="btn btn-primary" ui-sref="new">New room</a>
</div>

<ul class="display-list" ng-controller="HomeCtrl as home">
  <li ng-repeat="room in home.rooms()"> 
    <a href="/{{room.$value}}">
      {{ room.$value }}
    </a>
  </li>
</ul>

<div class='room-ctn' ng-controller="HomeCtrl as home">
  <div class="room-name">{{home.currentRoom}}</div>
	<div class="room-messages">
		<div class="room-user"></div>
		<div class="room-content" ng-repeat="messages in home.messages">
      {{ messages.$value }}
    </div>
		<div class="room-time"></div>
	</div>

<!-- 	<input type="textbox" class="message-input"> -->
</div>


<div class="container" ng-hide="true" ng-controller="MakeRoomCtrl as makeRoom">
	<div>
	    <div class="modal-header">
	        <h4>Create a new room</h4>
	    </div>
	    <div class="modal-body">
	        <p>Enter a room name</p>
	    </div>
	    <div class="room-name">
	   		<input type="textbox" placeholder="enter a room name here" ng-modal="makeRoom.name">
	    </div>
	</div>

	<div class="modal-footer">
	    <button class="btn btn-success" ng-click="makeRoom.saveRoom()" ui-sref="home">Okay</button>
	    <button class="btn" ui-sref="home">Cancel</button>
	</div>
</div>


